@charset "utf-8";
/* common - 공통 */
.border-box{
    border: 1px solid #aaa;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 2px 4px;
    margin: 0 2px;
}
.r-border{
    border-right: 1px solid #aaa;
}
.text-red{
    color: tomato;
}
.test-big{
    font-size: 1.5rem;
    font-weight: bolder;
}
.text-w{
    font-weight: bolder;
}
.rect-redio{
    border-radius: 15px;
    border: 1px solid tomato;
    padding: 2px;
    text-align: center;
}
/**********/
main{
    width: 1100px;
    display: flex;
    /* 중간에 들어가는 공백 */
    gap: 4rem;
    margin: 50px auto;
}
section#book{
    width: 40%;
    perspective: 1000px;
}

/* book style */
.book-img{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.5s;
    box-shadow: 10px 30px 30px rgba(0,0,0,0.3);
}
.book-img:not(.flipped):hover{
    transform: rotateY(40deg);
}
.book-img.flipped{
    transform: rotateY(180deg);
}
.book-img > .page{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.book-img > .page > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(25px);
    backface-visibility: hidden;
}
.book-img > .page > .front,
.book-img > .page > .back,
.book-img > .side{
    position: absolute;
    top: 0;
    left: 0;
}
.book-img > .page > .front{
    background-image: url(../img/front.jfif);
    background-size: contain;
    transform: translateZ(8px);
}
.book-img > .page > .back{
    background-image: url(../img/back.jfif);
    background-size: cover;
    transform: rotateY(180deg) translateZ(25px);
}
.book-img > .side{
    left: -25px;
    width: 50px;
    height: 100%;
    background-image: url(../img/side.jfif);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(-90deg);
}

/* detail style */
section#detail{
    width: 60%;
}
section#detail > div{
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
}
/* one */
section#detail > .one > div{
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
}
section#detail > .one > div > p{
    padding: 0 6px;
}
/* two */
section#detail > .two > div{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 10px 0;
}
section#detail > .two > div > p:nth-child(1){
    width: 120px;
}
section#detail > .two > div > p > span{         
    display: inline-block;
}
.del{
    background-color: rgb(225, 247, 239);
    padding: 10px;
}
.del > span{
    display: inline-block;
}
.del > span:nth-child(1){
    background-color: green;
    border-radius: 5px;
    color: #fff;
    padding: 5px;    
    margin: 0 15px;
}
